
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <title>Your emble password reset</title>
  <style>
    body {
      height: auto;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-family: "Inter";
      background-color: #f9f9f9;
    }
  </style>
</head>
<body>

    <h1 style="width: 95%; margin-top: 30px;">emble</h1>

    <div style="height: auto; width: 95%; background-color: #fff; border-radius: 5px; border: solid; border-color: #e9e9e9;">
        <h1 style="width: 90%; margin-left: 5%; margin-right: 5%; margin-top: 75px; margin-bottom: 30px;">Thank you for signing up to our beta list!</h1>
        <p style="width: 90%; margin-left: 5%; margin-right: 5%; margin-bottom: 30px;">When your spot is ready, we'll drop you another email with your unique sign up code and a link to register.</p>
        <p style="width: 90%; margin-left: 5%; margin-right: 5%; margin-bottom: 75px;">We're on a mission to make user research fun, quick and straightforward. When you sign up, we'd really appreciate it if you could message us with any feedback you have while using emble. No matter how small!</p>
    </div>
    
  </div>
</body>
</html>