
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <title>Your emble password reset</title>
  <style>
    body {
      height: auto;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-family: "Inter";
    }
  </style>
</head>
<body>

    <h1 style="width: 70%; margin-top: 30px;">emble</h1>

    <div style="height: auto; width: 70%; background-color: #fff; border-radius: 5px; border: solid; border-color: #e9e9e9;">
        <h1 style="width: 70%; margin-left: 15%; margin-right: 15%; margin-top: 75px; margin-bottom: 30px;">Did you reset your password?</h1>
        <p style="width: 70%; margin-left: 15%; margin-right: 15%; margin-bottom: 30px;">Somebody requested a password reset for your account on emble. If this was you, click the button below to change your password.</p>
        <a href="{{.CustomURL}}" style="height: 40px;  margin-left: 15%; margin-right: 15%; padding-left: 15px; padding-right: 15px; background-color: #000; color: #fff; margin-bottom: 30px; display: flex; align-items: center; justify-content: center; text-decoration: none; text-align: center; font-weight: bold; border-radius: 5px;">Reset password</a>
        <p style="width: 70%; margin-left: 15%; margin-right: 15%; color: #e9e9e9; font-size: 12px; margin-top: 15px; margin-bottom: 75px;">If this wasn't you, somebody may be trying to access your account. Keep an eye on it, and report any suspicious activity to us.</p>
    </div>
    
  </div>
</body>
</html>